{% extends 'base.html.twig' %} 
{% block body %}
 <h1> Add new patient</h1> 
 {{ form_start(formArticle)}} 
 <div class="form-group"> <label for="">Patient fullname</label> 
 {{form_widget(formArticle.fullname)}} </div>
<div class="form-group"> <label for="">Disease</label> 
{{form_widget(formArticle.disease)}} </div> <div class="form-group"> <label for="">Disease urgency</label> {{form_widget(formArticle.urgency)}} </div> {{ form_end(formArticle)}} {% endblock %}